<%= provide(:title, @user.name) %>
<body class="non-home">
<div class="container">
  <div class="jumbotron">

    <h1><%= @user.name %></h1> 
    <p>Followers: <%= @user.followers_count %></p>
    <p>Following: <%= @user.follow_count %></p>
    
    <!-- Follow -->

    <% if (current_user != @user) %>

    	<% if !current_user.following?(@user) %>

	    	<%= link_to follow_user_path(@user), class: "btn btn-info btn-sm" do %>
	    		<h6> <span class="glyphicon glyphicon-eye-open" id="logIcon"></span> Follow </h6>
	    	<% end %>
		
	    <% else %>

		    <!-- Unfollow -->
			<%= link_to unfollow_user_path(@user), class: "btn btn-info btn-sm" do %>
		    	<h6> <span class="glyphicon glyphicon-eye-close" id="logIcon"></span> Unfollow </h6>
		    <% end %>

		<% end %>
	  
	<% end %>

  </div>
</div>


<% if @user.follow_count != 0 %>
	<div class="container">
	  <div class="jumbotron">
	  	<p> Users that <%= @user.name %> is following </p> 
	  	<% @followers = @user.all_following %>
	  	<% @followers.each do |follower| %>

		<div><%= link_to follower, class: "btn btn-default" do %>
		    <h6 class="glyphicon glyphicon-user"> <%= follower.name %></h6>
		<% end %></div>

	  	<% end %>

	  </div>
	</div>
<% end %>
	<div class="container">
    <h1>Workspaces that belong to this User</h1>

   <%@posts = Post.all %>
  <table style=" border: 2px solid black; width: 100%; ">
  <thead>
    <tr>
      <th style ="padding: 15px;"> Title </th>
      <th> Address </th>
 

      <th> City </th>

      <th> Size </th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @posts.each do |post| %>
    <%if post.madeby == @user.id %>
      <tr>
        <td style ="padding: 15px;"><%= post.title %> <br/></td>
        <td><%= post.address %> <br/></td>
        
        <td><%= post.city %> <br/></td>
        <td><%= post.size %> <br/></td>
        <td><%= link_to 'Show', post %> <br/></td>
        <td><%= link_to 'Edit', edit_post_path(post) %> <br/></td>
        <td><%= link_to 'Join', join_post_path(post) %> <br/></td>
        <td><%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %> <br/></td>
        
      </tr>
    <% end %>
     <% end %>
  </tbody>
</table>
  </div>   
</body>